
:root{
    --size-01x: 0em;
    --size-02x: 0.1em;
    --size-03x: 0.15em;
    --size-04x: 0.3em;
    --size-05x: 0.4em;
    --size-06x: 0.5em;
    --size-07x: 0.4em;
    --size-08x: 0.3em;
    --size-09x: 0.15em;
    --size-10x: 0.1em;

    --size-01y: 0.1em;
    --size-02y: 0.15em;
    --size-03y: 0.2em;
    --size-04y: 0.25em;
    --size-05y: 0.3em;
    --size-06y: 0.35em;
    --size-07y: 0.4em;
    --size-08y: 0.45em;
    --size-09y: 0.5em;
    --size-10y: 0.55em;

    --color-text-01: hsl(12, 76%, 61%);
    --color-text-02: hsl(12, 96%, 61%);
    --color-text-03: hsl(27, 87%, 67%);
    --color-text-04: hsl(27, 100%, 67%);
    --color-text-05: hsl(43, 74%, 66%);
    --color-text-06: hsl(43, 100%, 66%);
    --color-text-07: hsl(173, 58%, 39%);
    --color-text-08: hsl(173, 88%, 39%);
    --color-text-09: hsl(197, 37%, 24%);
    --color-text-10: hsl(197, 60%, 24%);
}
@font-face {
    font-family: 'Comic Sans MS';
    src: url("comic-sans-ms/comici.ttf");
  }
body {
    font-family: 'Itim', cursive;
    font-size: 1vw;
    background: linear-gradient(-45deg, hsl(0, 0%, 15%), hsl(0, 0%, 20%), hsl(0, 0%, 25%), hsl(0, 0%, 30%));
	background-size: 400% 800%;
    animation-name: gradient;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;

}

.title {
    color: hsla(12, 36%, 61%, 0);
    font-size: 7vw;
    text-align: center;
    animation-name: spin;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.page-top{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 8vw;
    top: 4vw;
}

.image-zoom{
    transition: transform .2s ease-out;
  }
  
.image-zoom:hover {
    transform: scale(1.2);
  }

span {
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    font-size: 2vh;
}

.tool-tip .tool-tip-text {
    position: absolute;
    width: 20vw;
    text-align: left;
    opacity: 0;
    transition: opacity .3s;
    z-index: 1;
  }

  .tool-tip:hover .tool-tip-text {
    opacity: 1;
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes spin {

    0%   { 
        text-shadow: 
        var(--size-01x) var(--size-01y) var(--color-text-01),
        var(--size-02x) var(--size-02y) var(--color-text-02),
        var(--size-03x) var(--size-03y) var(--color-text-03),
        var(--size-04x) var(--size-04y) var(--color-text-04),
        var(--size-05x) var(--size-05y) var(--color-text-05),
        var(--size-06x) var(--size-06y) var(--color-text-06),
        var(--size-07x) var(--size-07y) var(--color-text-07),
        var(--size-08x) var(--size-08y) var(--color-text-08),
        var(--size-09x) var(--size-09y) var(--color-text-09),
        var(--size-10x) var(--size-10y) var(--color-text-10);
    }
    10% { 
        text-shadow: 
        var(--size-10x) var(--size-01y) var(--color-text-02),
        var(--size-01x) var(--size-02y) var(--color-text-03),
        var(--size-02x) var(--size-03y) var(--color-text-04),
        var(--size-03x) var(--size-04y) var(--color-text-05),
        var(--size-04x) var(--size-05y) var(--color-text-06),
        var(--size-05x) var(--size-06y) var(--color-text-07),
        var(--size-06x) var(--size-07y) var(--color-text-08),
        var(--size-07x) var(--size-08y) var(--color-text-09),
        var(--size-08x) var(--size-09y) var(--color-text-10),
        var(--size-09x) var(--size-10y) var(--color-text-01);
    }
    20% { 
        text-shadow: 
        var(--size-09x) var(--size-01y) var(--color-text-03),
        var(--size-10x) var(--size-02y) var(--color-text-04),
        var(--size-01x) var(--size-03y) var(--color-text-05),
        var(--size-02x) var(--size-04y) var(--color-text-06),
        var(--size-03x) var(--size-05y) var(--color-text-07),
        var(--size-04x) var(--size-06y) var(--color-text-08),
        var(--size-05x) var(--size-07y) var(--color-text-09),
        var(--size-06x) var(--size-08y) var(--color-text-10),
        var(--size-07x) var(--size-09y) var(--color-text-01),
        var(--size-08x) var(--size-10y) var(--color-text-02);
    }
    30% {
        text-shadow: 
        var(--size-08x) var(--size-01y) var(--color-text-04),
        var(--size-09x) var(--size-02y) var(--color-text-05),
        var(--size-10x) var(--size-03y) var(--color-text-06),
        var(--size-01x) var(--size-04y) var(--color-text-07),
        var(--size-02x) var(--size-05y) var(--color-text-08),
        var(--size-03x) var(--size-06y) var(--color-text-09),
        var(--size-04x) var(--size-07y) var(--color-text-10),
        var(--size-05x) var(--size-08y) var(--color-text-01),
        var(--size-06x) var(--size-09y) var(--color-text-02),
        var(--size-07x) var(--size-10y) var(--color-text-03);
    }
    40% {
        text-shadow: 
        var(--size-07x) var(--size-01y) var(--color-text-05),
        var(--size-08x) var(--size-02y) var(--color-text-06),
        var(--size-09x) var(--size-03y) var(--color-text-07),
        var(--size-10x) var(--size-04y) var(--color-text-08),
        var(--size-01x) var(--size-05y) var(--color-text-09),
        var(--size-02x) var(--size-06y) var(--color-text-10),
        var(--size-03x) var(--size-07y) var(--color-text-01),
        var(--size-04x) var(--size-08y) var(--color-text-02),
        var(--size-05x) var(--size-09y) var(--color-text-03),
        var(--size-06x) var(--size-10y) var(--color-text-04);
    }
    50% {
        text-shadow: 
        var(--size-06x) var(--size-01y) var(--color-text-06),
        var(--size-07x) var(--size-02y) var(--color-text-07),
        var(--size-08x) var(--size-03y) var(--color-text-08),
        var(--size-09x) var(--size-04y) var(--color-text-09),
        var(--size-10x) var(--size-05y) var(--color-text-10),
        var(--size-01x) var(--size-06y) var(--color-text-01),
        var(--size-02x) var(--size-07y) var(--color-text-02),
        var(--size-03x) var(--size-08y) var(--color-text-03),
        var(--size-04x) var(--size-09y) var(--color-text-04),
        var(--size-05x) var(--size-10y) var(--color-text-05);
    }
    60% {
        text-shadow: 
        var(--size-05x) var(--size-01y) var(--color-text-07),
        var(--size-06x) var(--size-02y) var(--color-text-08),
        var(--size-07x) var(--size-03y) var(--color-text-09),
        var(--size-08x) var(--size-04y) var(--color-text-10),
        var(--size-09x) var(--size-05y) var(--color-text-01),
        var(--size-10x) var(--size-06y) var(--color-text-02),
        var(--size-01x) var(--size-07y) var(--color-text-03),
        var(--size-02x) var(--size-08y) var(--color-text-04),
        var(--size-03x) var(--size-09y) var(--color-text-05),
        var(--size-04x) var(--size-10y) var(--color-text-06);
    }
    70% {
        text-shadow: 
        var(--size-04x) var(--size-01y) var(--color-text-08),
        var(--size-05x) var(--size-02y) var(--color-text-09),
        var(--size-06x) var(--size-03y) var(--color-text-10),
        var(--size-07x) var(--size-04y) var(--color-text-01),
        var(--size-08x) var(--size-05y) var(--color-text-02),
        var(--size-09x) var(--size-06y) var(--color-text-03),
        var(--size-10x) var(--size-07y) var(--color-text-04),
        var(--size-01x) var(--size-08y) var(--color-text-05),
        var(--size-02x) var(--size-09y) var(--color-text-06),
        var(--size-03x) var(--size-10y) var(--color-text-07);
    }
    80% {
        text-shadow: 
        var(--size-03x) var(--size-01y) var(--color-text-09),
        var(--size-04x) var(--size-02y) var(--color-text-10),
        var(--size-05x) var(--size-03y) var(--color-text-01),
        var(--size-06x) var(--size-04y) var(--color-text-02),
        var(--size-07x) var(--size-05y) var(--color-text-03),
        var(--size-08x) var(--size-06y) var(--color-text-04),
        var(--size-09x) var(--size-07y) var(--color-text-05),
        var(--size-10x) var(--size-08y) var(--color-text-06),
        var(--size-01x) var(--size-09y) var(--color-text-07),
        var(--size-02x) var(--size-10y) var(--color-text-08);
    }
    90% {
        text-shadow: 
        var(--size-02x) var(--size-01y) var(--color-text-10),
        var(--size-03x) var(--size-02y) var(--color-text-01),
        var(--size-04x) var(--size-03y) var(--color-text-02),
        var(--size-05x) var(--size-04y) var(--color-text-03),
        var(--size-06x) var(--size-05y) var(--color-text-04),
        var(--size-07x) var(--size-06y) var(--color-text-05),
        var(--size-08x) var(--size-07y) var(--color-text-06),
        var(--size-09x) var(--size-08y) var(--color-text-07),
        var(--size-10x) var(--size-09y) var(--color-text-08),
        var(--size-01x) var(--size-10y) var(--color-text-09);
    }
    100% {
        text-shadow: 
        var(--size-01x) var(--size-01y) var(--color-text-01),
        var(--size-02x) var(--size-02y) var(--color-text-02),
        var(--size-03x) var(--size-03y) var(--color-text-03),
        var(--size-04x) var(--size-04y) var(--color-text-04),
        var(--size-05x) var(--size-05y) var(--color-text-05),
        var(--size-06x) var(--size-06y) var(--color-text-06),
        var(--size-07x) var(--size-07y) var(--color-text-07),
        var(--size-08x) var(--size-08y) var(--color-text-08),
        var(--size-09x) var(--size-09y) var(--color-text-09),
        var(--size-10x) var(--size-10y) var(--color-text-10);
    }
}